<div class="card">
  <div class="card-header">
    <!-- Header text -->
   Cambio de contraseña por email
  </div>
  <div class="card-body">
    <!-- Conditional rendering: Login form or logout button -->
    <ng-container *ngIf="!isLoggedIn; else logoutButton">
      <!-- Login Form -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="Enter your email" required>
          <!-- Email Error Message -->
          <div *ngIf="resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.dirty)" class="alert alert-danger">
            Invalid email.
          </div>
        </div>
        <!-- Action Buttons -->
        <div class="d-flex justify-content-between align-items-center">
          <button type="submit" class="btn btn-primary">Enviar Email</button>
          <a routerLink="/register">¿Quieres registrarte?</a>
        </div>
      </form>
      <span *ngIf="emailSent">Confirmation email has been sent!</span>
    </ng-container>

    <!-- Logout Button -->
    <ng-template #logoutButton>
      <button (click)="logout()" class="btn btn-danger">Logout</button>
    </ng-template>
  </div>
</div>
