<div class="container">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <!-- Password Field -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <div class="input-group">
        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" formControlName="newPassword">
        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
          <em [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></em>
        </button>
      </div>

      <!-- Validation Checklist -->
      <ul class="list-unstyled">
        <li *ngFor="let criteria of passwordCriteriaInstance">
          <em class="fas" [class.fa-check]="criteria.check(passwordForm.get('newPassword')?.value)" [class.fa-times]="!criteria.check(passwordForm.get('newPassword')?.value)"
            [class.text-success]="criteria.check(passwordForm.get('newPassword')?.value)" [class.text-danger]="!criteria.check(passwordForm.get('newPassword')?.value)"></em>
          {{ criteria.text }}
        </li>
      </ul>
    </div>

    <!-- Submit Button -->
    <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Cambiar contraseña</button>
  </form>
</div>
